{% include header.md %}
<div id="header">
<h1><a href="/">client9</a></h1>
<div style="float:left; margin-left: 15px; margin-top: 10px;">
<span>Software Engineering by Nick Galbreath</span>
<ul>
<li><a href="/about/">about</a></li>
<li><a href="/archives/">archives</a></li>
<li><a href="/books/cida/">books</a></li>
<li><a href="/patents/">patents</a></li>
<li><a href="/projects/">projects</a></li>
</ul>
</div>
</div><!-- end header -->
<div id="left" style="margin-top: 10px; clear:both">
<span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
{% if page.display-header %}
<h2 style="margin-top:0px">{{ page.title }} </h2>
{% endif %}
<div id="post2">
{{ content }}
{% include disqus.md %}
</div>
</div>
{% include footer.md %}
